@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Lora');

* {
    scroll-behavior: smooth !important;
}

/* Mobile */
@media only screen and (max-width: 400px) {
    html {
        min-height: 100%;
        position: relative;
    }

    .nav-link {
        letter-spacing: 1px !important;
        font-size: 12px;
    }

    #pmbaAnim {
        height: 40px;
        width: 70px;
        padding-left: 1rem;
    }
}
  
/* Tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    html {
        min-height: 100%;
        position: relative;
    }

    .nav-link {
        letter-spacing: 1.5px !important;
        font-size: 14px;
    }

    #pmbaAnim {
        height: 50px;
        width: 110px;
    }
}

/* Desktop */
@media only screen and (min-width: 961px) {
    html{
        height: 100%;
    }

    .nav-link {
        letter-spacing: 2px !important;
        font-size: 16px;
    }

    #pmbaAnim {
        height: 50px;
        width: 110px;
    }
}

body{
    height: 100%; 
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.lora {
    font-family: 'Lora', serif;
}

.introduction {
    height: 100%;
}

.bg-darker {
    background: #151515;
}

.nav-link {
    text-transform: uppercase;
    color: #ffd319;
    transition: 0.2s all ease;
}

.nav-link:hover {
    text-decoration: none;
    color: #face0a;
}

.profile-picture-holder {
    height: 200px;
    width: 200px;
}

.profile-picture-holder img {
    border-radius: 250px;
    height: 100%;
    width: 100%;
}

.my-name {
    font-weight: 500;
    color: #f1f1f1;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    /* letter-spacing: 2px; */
}

.description {
    font-size: 12px;
    letter-spacing: 3px;
    color: #ffffff;
}

.social-medias i {
    color: #f1f1f1;
    font-size: 30px;
}

.social-medias i:hover {
    color: #ffffff;
}

.about-me .about-text {
    letter-spacing: .3rem;
    font-size: 1.6rem;
    line-height: 1.875;
    color: #335C67;
}

.about-me .about-info {
    color: #313131;
}

.info-list dt {
    color: #313131;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2rem;
    line-height: 3rem;
}

.info-list dd {
    color: #888888;
}

.progress {
    height: 10px !important;
    border-radius: 0px !important;
}

.progress .languages {
    background: #ff2975 !important;
}

.progress-count {
    background: #ffd319;
    width: 0%;
}

.progress-indicator {
    opacity: 0;
}

a.unlink {
    color: inherit;
}

a.unlink:hover {
    color: inherit;
    text-decoration: none;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
}

.contact-text {
    color: #888888;
    letter-spacing: .3rem;
    line-height: 1.875;
}

.contact-info {
    color: #313131;
}

.contacts-holder i {
    font-size: 3rem;
}

.btn-top {
    height: 50px;
    width: 50px;
}

.lh-top {
    line-height: 35px;
}

.lang-btn {
    position: absolute;
    right: 0 !important;
    padding-right: 3rem;
}

.lang-btn:active, .lang-btn:focus {
  outline: 0 !important;
  border: none !important;
  -moz-outline-style: none !important;
}

.lang-btn img {
    height: 0.8rem;
}